numpy==1.26.4
opencv-python-headless
tensorflow-cpu==2.15.0
keras==2.15
torch
torchvision
--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
Pillow
huggingface-hub
pandas
plotly
matplotlib
wordcloud